
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Geo-Gold-Team</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='css/agency.min.css')}}" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/materialize.min.css')}}"  media="screen,projection"/>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<style>
.team{
	background-color:#09C;
}
.contact container{
	background-color:#09C;
}
</style>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Geo_Gold_Team</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#main">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To Our Myanmar Language Translator</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/home">Convert</a>
        </div>
      </div>
    </header>
    <!-- About -->
    <section id="about">
      <div>
  <div class="row">
    <div class="col s12 m15">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><h5>About</h5></span>
          <p><h4>This is the Myanmar Language Converter design created by Geo_Gold_Team.This website allows you to convert myanmar languages such as Zawgyi to Unicode, Zawgyi to WinInwa , WinInwa to Unicode and vice visa.</h4></p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>
            

      </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
      <div class="container">
      	<div class="row">
          <div class="col-lg-12 text-center">
             <h2 class="section-heading text-uppercase"><b>Our Geo_Gold_Team</b></h2>
          </div>
      </div>
      <div class="card-panel blue-grey">
      	<ul class="collection">
    <li class="collection-item avatar">
	    <img src="{{url_for('static',filename='img/team/3.JPEG')}}" alt="" class="circle">
      <span class="title"><h5>May Thu Tun</h5></span>
      <p>Team Lead <br>
         Lead Dev+DevOps
      </p>
  </li>
  <li class="collection-item avatar">
	  <img src="{{url_for('static',filename='img/team/6.PNG')}}" alt="" class="circle">
      <span class="title"><h5>SandarSoe</h5></span>
      <p>Dev1 <br>
      </p>
  </li>
  <li class="collection-item avatar">
	  <img src="{{url_for('static',filename='img/team/5.PNG')}}" alt="" class="circle">
      <span class="title"><h5>Nyo Nyo Htwe</h5></span>
      <p>Dev2 <br>
      </p>
  </li>
  <li class="collection-item avatar">
	  <img src="{{url_for('static',filename='img/team/2.PNG')}}" alt="" class="circle">
      <span class="title"><h5>Marlar</h5></span>
      <p>UI/UX Lead <br>
         Test & Docs
      </p>
  </li>
  <li class="collection-item avatar">
	  <img src="{{url_for('static',filename='img/team/4.JPEG')}}" alt="" class="circle">
      <span class="title"><h5>May Mon Thu</h5></span>
      <p>UI/UX <br>
      </p>
  </li>
  <li class="collection-item avatar">
	  <img src="{{url_for('static',filename='img/team/7.jpg')}}" alt="" class="circle">
      <span class="title"><h5>Phue Phue Khaing Min</h5></span>
      <p>Test & Docs<br>
      </p>
  </li>
</ul>
      </div>
    </section>
 <section id="main">
       <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
          </div>
        </div>
         <div class="card  red lighten-4">
        <div class="card-content white-text">
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name"  placeholder="Please enter your name *" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email"  placeholder="Please enter your email address. *" required data-validation-required-message="Please enter your email address.">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone"  placeholder="Please enter your phone number. *" required data-validation-required-message="Please enter your phone number.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
      </div>
    </section>

    
    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Contact form JavaScript -->
    <script src="{{url_for('static',filename='js/jqBootstrapValidation.js')}}"></script>
    <script src="{{url_for('static',filename='js/contact_me.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{url_for('static',filename='js/agency.min.js')}}"></script>

  </body>

</html>
