<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href='https://mmwebfonts.comquas.com/fonts/?font=zawgyi' />
    <link rel="stylesheet" href='https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{url_for('static',filename='js/convert.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/font.js')}}"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	
    <title>Geo_Gold_Team</title>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Myanmar Language Converter</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="/partner">Partner</a>
      <a class="mdl-navigation__link" href="/resources">Resources</a>
      <a class="mdl-navigation__link" href="/tools">Tools</a>
       <a class="mdl-navigation__link" href="/work">How it work?</a>
        <a class="mdl-navigation__link" href="/questions_answers">Questions & Answers</a>
    </nav>
  </div>
</div>
    <style>
    .mdl-layout__header{
      background-color: #004d40;
    }
      .mdl-grid{
        background-color: #84ffff;
        padding-top: 8em;
        padding-bottom: 3em;
      }
      .demo-card-square.mdl-card {
  width: 400px;
  height:auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
}
.mdl-cell{
	padding-left: 2em;
}
.mdl-mini-footer{
  background-color: #004d40;
}
.mdl-mega-footer{
  background-color: #004d40;
}
    .mdl-textfield{
  margin-left: 3em;
}
    @font-face {
			font-family: 'win_innwaregular';
			src: url("{{url_for('static', filename='wininnwa-webfont.woff2')}}") format('woff2'),
				url("{{url_for('static', filename='wininnwa-webfont.woff')}}") format('woff');
			font-weight: normal;
			font-size:50px;
			font-style: normal;
		}
    </style>
    <div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#Zawgyi-panel" class="mdl-tabs__tab is-active">Zawgyi</a>
    <a href="#Unicode-panel" class="mdl-tabs__tab is-active">Unicode</a>
    <a href="#Win-panel" class="mdl-tabs__tab is-active">WinMyanmar</a>
  </div>
  <form action="#">
  <div class="mdl-tabs__panel is-active" id="Zawgyi-panel">
  <div class="source mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" type="text"  id="source-zg" style="font-family: Zawgyi-One;"></textarea>
    <label class="mdl-textfield__label" for="source">Zawgyi</label>
  </div>
</div>  
<div class="mdl-tabs__panel" id="Unicode-panel">

  <div class="source mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" type="text"  id="source-uni" style="font-family: pyidaungsu;"></textarea>
    <label class="mdl-textfield__label" for="source">Unicode</label>
  </div>

</div> 
<div class="mdl-tabs__panel" id="Win-panel">
  <div class="source mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" type="text"  id="source-win" style="font-family: win_innwaregular;"></textarea>
    <label class="mdl-textfield__label" for="source">WinMyanmar</label>
  </div>

</div>   
</div>
</div>
<div class="mdl-card__actions mdl-card--border">
    <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
  Clear
</button>
<!-- Raised button with ripple -->
<button type='submit' class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
  <i class="large material-icons">swap_horiz</i>Convert
</button>
</form>
</div>
</div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#Zawgyi-panel" class="mdl-tabs__tab is-active">Zawgyi</a>
    <a href="#Unicode-panel" class="mdl-tabs__tab is-active">Unicode</a>
    <a href="#Win-panel" class="mdl-tabs__tab is-active">WinMyanmar</a>
  </div>
 <form action="#">
  <div class="mdl-tabs__panel" id="Zawgyi-panel">

  <div class="destination mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" type="text"  id="destination-zg" style="font-family: Zawgyi-One;"></textarea>
    <label class="mdl-textfield__label" for="destination">Zawgyi</label>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
  Clear
</button> 
</div>

</div>  
<div class="mdl-tabs__panel is-active" id="Unicode-panel">

  <div class="destination mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" type="text"  id="destination-uni" style="font-family: pyidaungsu;"></textarea>
    <label class="mdl-textfield__label" for="destination">Unicode</label>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
  Clear
</button> 
</div>

</div> 
<div class="mdl-tabs__panel" id="Win-panel">

  <div class="destination mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" type="text"  id="destination-win" style="font-family: win_innwaregular;"></textarea>
    <label class="mdl-textfield__label" for="destination">WinMyanmar</label>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
  Clear
</button> 
</div>
</div> 
</form>

</div> 

</div>
  </div>
</div>

 <footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Features</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/partner">Partners</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Details</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/tools">Tools</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Technology</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/work">How it works</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">FAQ</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/questions_answers">Questions & Answers</a></li>
      </ul>
    </div>

  </div>     
      <div class="mdl-mini-footer">
        
        <div class="container">
          
          @ 2018 CUMDY Interns
          
            <a class="grey-text text-lighten-4 right">Goe-Gold Team</a>
        
        </div>

      </div>
    
    </footer>
    
  </body>
</html>
