<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <title>Geo-Gold-Team</title>
    <style>
     .mdl-layout__header{
      background-color: #004d40;
    }
      .mdl-grid{
        background-color: #84ffff;
      }
      .demo-card-square.mdl-card {
  width: 400px;
  height:auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
}

.mdl-mini-footer{
  background-color: #004d40;
}
.mdl-mega-footer{
  background-color: #004d40;
}
    </style>
  </head>
  <body>
     <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a class="mdl-navigation__link" href="/home"><i class="small material-icons">home</i></a>
      <!-- Title -->
      <span class="mdl-layout-title">Myanmar Language Converter</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      </nav>
    </div>
  </header>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
  <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
     <img class="activator" src="{{url_for('static',filename='img/team/3.JPEG')}}" alt="">
  </div>
  <div class="mdl-card__supporting-text">
  <p> <h2 class="mdl-card__title-text">MayThuTun</h2></p><br>
  <p>Team Lead<br> LeadDev&DevOps</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="https://github.com/MayThuHtun" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Visit
    </a>
  </div>
</div>  
  </div>
  <div class="mdl-cell mdl-cell--4-col">
   <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
     <img class="activator" src="{{url_for('static',filename='img/team/2.PNG')}}" alt="">
  </div>
  <div class="mdl-card__supporting-text">
  <p> <h2 class="mdl-card__title-text">Marlar</h2></p>
  <p>UI/UX lead<br>Test&Docs</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="https://github.com/Marlar22" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Visit
    </a>
  </div>
</div>  
  </div>
  <div class="mdl-cell mdl-cell--4-col">
   <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
     <img class="activator" src="{{url_for('static',filename='img/team/4.JPEG')}}" alt=""> 
  </div>
  <div class="mdl-card__supporting-text">
  <p> <h2 class="mdl-card__title-text">May Mon Thu</h2></p><br>
  <p>UI/UX</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="https://github.com/maymonthu" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Visit
    </a>
  </div>
</div> 
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
     <img class="activator" src="{{url_for('static',filename='img/team/6.PNG')}}" alt="">
  </div>
  <div class="mdl-card__supporting-text">
  <p> <h2 class="mdl-card__title-text">Sandar Soe</h2></p><br>
  <p>Dev1</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="https://github.com/SandarSoe" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Visit
    </a>
  </div>
</div> 
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
     <img class="activator" src="{{url_for('static',filename='img/team/5.PNG')}}" alt="">
  </div>
  <div class="mdl-card__supporting-text">
  <p> <h2 class="mdl-card__title-text">Nyo Nyo Htwe</h2></p><br>
  <p>Dev2</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="https://github.com/NyoNyoHtwe" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Visit
    </a>
  </div>
</div> 
  </div>
  <div class="mdl-cell mdl-cell--4-col">
    <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
     <img class="activator" src="{{url_for('static',filename='img/team/7.jpg')}}" alt="">
  </div>
  <div class="mdl-card__supporting-text">
  <p> <h2 class="mdl-card__title-text">Phue Phue Khaing Min</h2></p><br>
  <p>Test&Docs
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="https://github.com/phuephuekhaingmin" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Visit
    </a>
  </div>
</div> 
  </div>
</div>
<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Features</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/partner">Partners</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Details</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/tools">Tools</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Technology</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/work">How it works</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">FAQ</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="/questions_answers">Questions & Answers</a></li>
      </ul>
    </div>

  </div>     
      <div class="mdl-mini-footer">
        
        <div class="container">
          
          @ 2018 CUMDY Interns
          
            <a class="grey-text text-lighten-4 right">Goe-Gold Team</a>
        
        </div>

      </div>
    
    </footer>
  </body>
</html>
